# Raw design files
*.afdesign

# dependencies
/node_modules

# eslint
.eslintcache

# testing
/coverage
/test-results/

# storybook
migration-storybook.log
storybook.log
storybook-static
build-storybook.log

# production
/dist

# local test files
/.dump

# editors
.idea/*
!.idea/tailwindcss.xml
