# Raw design files
*.afdesign

# dependencies
/node_modules

# testing
/coverage
/test-results/

# storybook
migration-storybook.log
storybook.log
storybook-static

# production
/dist

# local test files
/.dump
