@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --red-700: 0 74% 42%;
    --red-500: 0 84% 60%;
    --red-300: 0 94% 82%;
    
    --yellow-700: 35 92% 33%;
    --yellow-500: 45 93% 47%;
    --yellow-300: 50 98% 64%;
      
    --green-700: 142 72% 29%;
    --green-500: 142 71% 45%;
    --green-300: 142 77% 73%;
  
    --blue-700: 224 76% 48%;
    --blue-500: 217 91% 60%;
    --blue-300: 212 96% 78%;

    --neutral-white: 0 0% 100%;
    --neutral-50: 0 0% 98%;
    --neutral-100: 240 5% 96%;
    --neutral-200: 240 6% 90%;
    --neutral-300: 240 5% 84%;
    --neutral-400: 240 5% 65%;
    --neutral-500: 240 4% 46%;
    --neutral-800: 240 4% 16%;
    --neutral-900: 240 6% 10%;
    --neutral-black: 240 10% 4%;
    
    --radius: 0.5rem;
  }
  
  .light {
    --page: var(--neutral-50);
    --background: var(--neutral-white);
    --foreground: var(--neutral-black);
    
    --primary: var(--neutral-900);
    --primary-foreground: var(--neutral-50);
    
    --secondary: var(--neutral-100);
    --secondary-foreground: var(--neutral-900);
    
    --highlight: var(--blue-500);
    --highlight-foreground: var(--blue-700);
    
    --muted: var(--neutral-100);
    --muted-foreground: var(--neutral-500);
    
    --accent: var(--neutral-100);
    --accent-foreground: var(--neutral-900);
    
    --destructive: var(--red-500);
    --destructive-foreground: var(--red-700);
    
    --border: var(--neutral-200);
    --input: var(--neutral-200);
    --ring: var(--neutral-black);

    --success: var(--green-700);
    --warning: var(--yellow-700);
    --error: var(--red-700);
    --info: var(--blue-700);
  }
  
  .dark {
    --page: var(--neutral-900);
    --background: var(--neutral-black);
    --foreground: var(--neutral-50);
    
    --primary: var(--neutral-50);
    --primary-foreground: var(--neutral-900);
    
    --secondary: var(--neutral-800);
    --secondary-foreground: var(--neutral-50);
    
    --highlight: var(--blue-500);
    --highlight-foreground:  var(--blue-300);
    
    --muted: var(--neutral-800);
    --muted-foreground: var(--neutral-400);
  
    --accent: var(--neutral-800);
    --accent-foreground: var(--neutral-50);
  
    --destructive: var(--red-500);
    --destructive-foreground: var(--red-300);
  
    --border: var(--neutral-800);
    --input: var(--neutral-800);
    --ring: var(--neutral-300);

    --success: var(--green-300);
    --warning: var(--yellow-300);
    --error: var(--red-300);
    --info: var(--blue-300);
  }
  
  .mocha {
    --page: 240 21% 12%;
    --background: 240 23% 9%;
    --foreground: 226 64% 88%;
    
    --primary: 226 64% 88%;
    --primary-foreground: 240 21% 12%;
    
    --secondary: 240 21% 15%;
    --secondary-foreground: 226 64% 88%;
    
    --highlight: 217 92% 76%;
    --highlight-foreground:  217 92% 76%;
    
    --muted: 240 21% 15%;
    --muted-foreground: 230 13% 55%;
  
    --accent: 240 21% 15%;
    --accent-foreground: 226 64% 88%;
  
    --destructive: 343 81% 75%;
    --destructive-foreground: 343 81% 75%;
  
    --border: 240 21% 15%;
    --input: 240 21% 15%;
    --ring: 228 17% 64%;

    --success: 115 54% 76%;
    --warning: 41 86% 83%;
    --error: 343 81% 75%;
    --info: 217 92% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body, #root {
    @apply h-full
  }
  body {
    @apply bg-page;
    @apply text-foreground;
  }
}
