@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-background-page;
    @apply text-text;
    @apply font-medium;
    @apply selection:bg-highlight;
    @apply selection:text-text-invert;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html, body, #root {
    @apply m-0;
    @apply p-0;
    @apply overflow-hidden;
    height: 100dvh;
    width: 100dvw;
  }
}

@layer components {
  * {
    @apply focus-visible:outline-stroke-focus;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-offset-2;
    @apply focus-visible:outline;
    @apply border-stroke;
  }

  * {
    scrollbar-color: theme(colors.background.invert) transparent;
  }
  
  *:focus-visible {
    scrollbar-color: theme(colors.highlight) transparent;
  }
}
