@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --red-700: 0 74% 42%;
    --red-500: 0 84% 60%;
    --red-300: 0 94% 82%;
    
    --yellow-700: 35 92% 33%;
    --yellow-500: 45 93% 47%;
    --yellow-300: 50 98% 64%;
      
    --green-700: 142 72% 29%;
    --green-500: 142 71% 45%;
    --green-300: 142 77% 73%;
  
    --blue-700: 224 76% 48%;
    --blue-500: 217 91% 60%;
    --blue-300: 212 96% 78%;

    --neutral-white: 0 0% 100%;
    --neutral-50: 0 0% 98%;
    --neutral-100: 240 5% 96%;
    --neutral-200: 240 6% 90%;
    --neutral-300: 240 5% 84%;
    --neutral-400: 240 5% 65%;
    --neutral-500: 240 4% 46%;
    --neutral-600: 240 5% 34%;
    --neutral-700: 240 5% 26%;
    --neutral-800: 240 4% 16%;
    --neutral-900: 240 6% 10%;
    --neutral-950: 240 10% 4%;
    --neutral-black: 0 0% 0%;
    
    --radius: 0.5rem;
  }
  
  .light {
    --page: var(--neutral-50);
    --background: var(--neutral-white);
    --foreground: var(--neutral-950);
        
    --hover: var(--neutral-100);
    --press: var(--neutral-200);

    --button: var(--neutral-100);
    --button-foreground: var(--neutral-950);
    --button-hover: var(--neutral-200);
    --button-press: var(--neutral-300);

    --muted: var(--neutral-100);
    --muted-foreground: var(--neutral-500);
    
    --border: var(--neutral-200);
    --input: var(--neutral-200);
    --ring: var(--neutral-950);
    
    --accent: var(--blue-500);
    --success: var(--green-700);
    --warning: var(--yellow-700);
    --error: var(--red-700);
    --info: var(--blue-700);
  }
  
  .dark {
    --page: var(--neutral-950);
    --background: var(--neutral-black);
    --foreground: var(--neutral-50);
    
    --hover: var(--neutral-900);
    --press: var(--neutral-800);

    --button: var(--neutral-900);
    --button-foreground: var(--neutral-50);
    --button-hover: var(--neutral-800);
    --button-press: var(--neutral-700);
    
    --muted: var(--neutral-800);
    --muted-foreground: var(--neutral-400);

    --border: var(--neutral-800);
    --input: var(--neutral-700);
    --ring: var(--neutral-300);

    --accent: var(--blue-300);
    --success: var(--green-300);
    --warning: var(--yellow-300);
    --error: var(--red-300);
    --info: var(--blue-300);
  }
  
  .mocha {
    --page: 240 21% 12%;
    --background: 240 23% 9%;
    --foreground: 226 64% 88%;
        
    --hover: 240 21% 15%;
    --press: 237 16% 23%;

    --button: 240 21% 15%;
    --button-foreground: 226 64% 88%;
    --button-hover: 237 16% 23%;
    --button-press: 234 13% 31%;
    
    --muted: 240 21% 15%;
    --muted-foreground: 230 13% 55%;
    
    --border: 240 21% 15%;
    --input: 237 16% 23%;
    --ring: 228 17% 64%;
    
    --accent: 217 92% 76%;
    --success: 115 54% 76%;
    --warning: 41 86% 83%;
    --error: 343 81% 75%;
    --info: 217 92% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body, #root {
    @apply h-full
  }
  body {
    @apply bg-page;
    @apply text-foreground;
  }
}

/* ===== Scrollbar CSS ===== */
/* web standard */
* {
  scrollbar-width: auto;
  scrollbar-color: hsl(var(--muted-foreground)) hsl(var(--background));
}

*:focus-visible {
  scrollbar-color: hsl(var(--accent)) hsl(var(--background));
}

/* browsers that are not applying the web standard since 2018 */
*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  border-radius: 0.75rem;
  border: 0.25rem solid hsl(var(--background));
}

*::-webkit-scrollbar-thumb:hover {
  border-width: 0.2rem;
}
