name: Validate code

on: [push, workflow_dispatch]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.8"

      - name: Install dependencies
        run: bun install

      - name: Run linter
        run: bun run lint

      - name: Run knip
        run: bun run knip:ci

      - name: Run tests
        run: bun run test:all

      - name: Build project
        run: bun run build
